body{
	background-color: #B0E0E6;
}
h1{
	font-family: Bradley Hand ITC;
	font-size: 300%;
	color: #8B0000;
}
p{
	font-family: Footlight MT Light;
	font-size: 145%;
	color: #000000;
}
h2{
	font-family: Bradley Hand ITC;
	font-size: 170%;
	color: #800000;
}
h3{
	font-family: Bookman Old Style;
	font-size: 145%;
	color: #000000;
}
h4{
	font-family: Bodoni MT;
	font-size: 130%;
	color: #000000;